<!DOCTYPE html>
<html>

<head>
  <title>Done Payment</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
  <div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Your Payment is successful</h1>
    <p class="lead">Please check your confirmation mail.Thankyou and do visit again.</p>
    <hr class="my-4">
    <p>Wanna make another donation.Click on the home button below.</p>
    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
  </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>